/* ====================
global
==================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  /* border: 1px solid red; */
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.main-grid {
  grid-template-columns: minmax(1rem, 1fr) minmax(0px, 500px) minmax(1rem, 1fr)
}

/* ====================
buttons
==================== */

.nav-btn {
  border: 0;
  background-color: transparent;
  color: #fff;
  line-height: 1;
  font-size: 3.5rem;
  overflow: hidden;
}

.open-nav {
  padding: 0 0 .65rem .5rem;
}

.close-nav {
  position: absolute;
  right: .8rem;
  top: .5rem;
  padding: 0 .7rem .2rem .7rem;
  border: 1px solid red;
}

.btn {
  background-color: #c8a666;
  border: 2px solid #c8a666;
  padding: 1rem 4rem;
  cursor: pointer;
  transition: .3s;
  color: #fff;
}

.book-btn {
  font-size: 1.5rem;
  font-weight: bold;
}

.book-btn {
  width: fit-content;
}

.btn:hover,
.btn:focus {
  background-color: #ffffff1b;
}

.service-btn:hover,
.service-btn:focus {
  color: #c8a666;
}

/* ====================
typography
==================== */

.header,
.hero,
.book-link {
  color: white;
}

.accent-txt {
  color: #c8a666;
}

/* header */

.nav-link,
.book-tel {
  color: #fff;
}

.social-link {
  color: #c8a666;
}

.social-link:hover,
.social-link:focus {
  color: #fff;
}

.nav-link,
.book-link {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav-link {
  transition: .3s;
}

.nav-link:hover,
.nav-link:focus {
  color: #c8a666;
}

.current-link {
  color: #c8a666;
  transition: .5s;
}

.header-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

/* hero */

.hero-top-font {
  letter-spacing: 2px;
  opacity: .8;
}

.hero-title {
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: 1px;
}

.hero-body {
  line-height: 1.8;
  opacity: .8;
}

/* service */

.service-title,
.service-body,
.service-btn {
  font-family: 'Playfair Display', serif;
}

.service-title,
.service-btn {
  font-weight: bold;
}

.service-body {
  color: #525252;
}

/* ====================
style
==================== */

/* header */

.header > * {
  grid-column: 2;
}

.header {
  position: absolute;
  width: 100%;
}

.header-container {
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  background-color: #1a1a1a;
  transition: .3s;
  z-index: 100;
}

.open-navigation {
  transform: translateX(-100%);
}

.nav-links {
  height: 50%;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2rem;
  margin-top: 3rem;
}

.book-link {
  border: 2px solid #c8a666;
  padding: 1rem 3rem;
  transition: .3s;
}

.book-link:hover,
.book-link:focus {
  background-color: #c8a66690;
}

/* hero */

.hero > * {
  grid-column: 2;
}

.hero {
  background-image: url(./img/barber-hero.jpg);
  background-size: cover;
  background-position: 25%;
  background-blend-mode: multiply;
  background-color: #757575;
  min-height: 100dvh;
  padding-top: 4rem;
  align-content: space-between;
}

.hero-top-font {
  margin-left: 3px;
  margin-bottom: 5px;
}

.hero-body {
  margin-block: 1rem;
}

.social-container {
  justify-content: flex-start;
}

.social-link {
  margin-right: 2rem;
}

.social-link:first-child {
  margin-left: -.3rem;
}

/* services */

.service-section {
  background-color: #eaeaea;
  padding-block: 5rem;
}

.service-section-title {
  grid-column: 2;
  text-align: center;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 5rem;
  color: #323232;
}

.service-container {
  background-color: #fff;
  grid-column: 2 / -2;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "img ."
    "title title"
    "body body"
    "btn btn";
  padding: 3rem;
  box-shadow: 10px 10px 0px #d3d3d3;
}

.service-container:nth-child(2) {
  margin-bottom: 3rem;
}

.service-img {
  grid-area: img;
  width: 50px;
}

.service-title {
  grid-area: title;
  margin-block: 1.5rem;
}

.service-body {
  grid-area: body;
}

.service-btn {
  grid-area: btn;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

/* ====================
media quries
==================== */

@media (min-height: 620px) {
  .hero {
    padding-block: 2rem 1rem;
  }
}