/* ==========
global
========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  /* border: 1px solid red; */
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.main-grid {
  grid-template-columns: minmax(1rem, 1fr) minmax(0px, 500px) minmax(1rem, 1fr)
}

/* ==========
buttons
========== */

.nav-btn {
  border: 0;
  background-color: transparent;
  color: #fff;
  line-height: 1;
  font-size: 3.5rem;
  overflow: hidden;
}

.open-nav {
  padding: 0 0 .65rem .5rem;
}

.close-nav {
  position: absolute;
  right: 2rem;
  top: 2rem;
  padding: 0 .7rem .2rem .7rem;
}

/* ==========
typography
========== */

.header,
.hero,
.book-link {
  color: white;
}

.accent-txt {
  color: #c8a666;
}

/* header */

.nav-link,
.book-tel {
  color: #fff;
}

.social-link {
  color: #c8a666;
}

.nav-link,
.book-link {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav-link {
  transition: .3s;
}

.nav-link:hover,
.nav-link:focus {
  color: #c8a666;
}

.current-link {
  color: #c8a666;
  transition: .5s;
}

.header-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

/* hero */

.hero-top-font {
  letter-spacing: 2px;
  opacity: .8;
}

.hero-title {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 1px;
}

.hero-body {
  line-height: 1.8;
  opacity: .8;
}

.hero-btn {
  font-size: 1.5rem;
  font-weight: bold;
}

/* ==========
style
========== */

/* header */

.header > * {
  grid-column: 2;
}

.header {
  position: absolute;
  width: 100%;
}

.header-container {
  justify-content: space-between;
  align-items: center;
}

.social-container {
  justify-content: center;
  padding-block: 1.25rem 0;
}

.social-link {
  margin-inline: 1rem;
}

.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  background-color: #000;
  transition: .3s;
  z-index: 100;
}

.open-navigation {
  transform: translateX(-100%);
}

.nav-links {
  height: 50%;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2rem;
  margin-top: 3rem;
}

.book-link {
  border: 2px solid #c8a66692;
  padding: 1rem 3rem;
  border-radius: 3px;
}

/* hero */

.hero > * {
  grid-column: 2;
}

.hero {
  background-image: url(./img/barber-hero.jpg);
  background-size: cover;
  background-position: 25%;
  background-blend-mode: multiply;
  background-color: #757575;
  padding: 18rem 0 12rem 0;
  min-height: 100dvh;
}

.hero-top-font {
  margin-left: 3px;
  margin-bottom: 5px;
}

.hero-body {
  margin-block: 2rem;
}

.hero-btn {
  border: 2px solid #c8a666;
  padding: 1rem 4rem;
  width: fit-content;
  height: fit-content
}

/* ==========
media quries
========== */